# Files
InvestigationProject/app/webroot/advertisements/*
InvestigationProject/app/webroot/links/*
InvestigationProject/app/webroot/profile_images/*
InvestigationProject/app/webroot/publications/*
InvestigationProject/app/webroot/sections/*