html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

body .wrapper > section.container {
    padding-bottom: 298px;
}

footer {
    width: 100% !important;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 298px;
}

.transparent{
    background: transparent;
}

.custom-side-bar{
    background: #BBA935;
    border-radius: 0px 3px 3px 0px;
    border: none;
}

.main-section{
    padding-top: 1em;
}

figure{
    margin: 0;
}

footer{
    background: #103B1B;
    margin-top: 1em;
}

.footer-nav{
    margin: 0;
    text-align: center;
    padding: 1em;
    font-size: 11px;
    color: white; }
.footer-nav li{
    list-style: none;
    margin: 1em; }
.footer-nav li label{
    font-size: 12px;
    cursor: default;
    list-style: none;
    color: white;

    padding-bottom: 0.5em;
    margin-bottom: 1em; }
.footer-nav li a{
    color: white; }
.footer-nav li a:hover{
    color: #968411; }
.footer-nav p{
    font-size: 11px; }

.form-content{
    background: #f7f7f4;
    border: 1px solid #eaeaea;
    padding: 1.5em;
    overflow: auto;
    margin-bottom: 1em;
}

h4{
    margin-bottom: 1em;
    padding-left: 1em;
}

.avatar{
    border-radius: 50%;
    height: 10em;
    width: 10em;
    display: block;
    margin: 0 auto;
}

.inline-block{
    display: inline-block;
}

.select,
.textarea{
    margin-bottom: 1rem;
}

.searching,
.searching:focus{
    background: url(../img/loading.gif) no-repeat !important;
    background-origin: content-box !important;
    background-position: right !important;
}

.download-icon{
    background: url(../img/download.png) no-repeat !important;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0 !important;
}

.calendar{
    font-family: 'linecons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e02b";
}

.radius-right{
    border-radius: 0 3px 3px 0;
}

.radius-left{
    border-radius: 3px 0 0 3px;
}

.remove-field{
    font-size: 22px !important;
    width: 37px;
    height: 36px;
    padding: 7px !important;
}

.experiences-content{
    overflow: scroll;
}

.profile-details p{
    margin-bottom: 0;
}

.profile-details label{
    font-weight: bold;
    margin-bottom: -5px;
    cursor: default;
}

.profile-details span{
    font-size: 13px;
    color: #4d4d4d;
}

.more-info{
    font-size: 12px;
    float: right;
}

.members-list{
    padding: 1em;
    height: 310px;
    overflow: scroll;
}

.member-container *{
    display: inline-block;
    margin: 0.5em;
}

.member-container p{
    font-size: 0.875rem;
    vertical-align: middle;
}

.li_calendar {
    cursor: pointer;
}

p.no-margin{
    margin-bottom: 0.5em;
}

.experience-title{
    background-color: white;
    text-align: center;
    color: #777777;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-bottom: dotted 1px #dddddd;
}

a.del-exp{
    position: relative;
    top: 10px;
    padding: 0 !important;
    right: 10px;
}

/*Foundation custom elements*/
.accordion .accordion-navigation > a, .accordion dd > a {
    background-color: #333;
    text-align: center;
    color: white;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
    background: #444; }

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: #444;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:5px !important;
}

.select2-container--default .select2-selection--single{
    height: 37px !important;
    padding-top: 4px !important;
}

.error-message{
    color: #C60F13;
}

.orbit-container .orbit-next:hover,
.orbit-container .orbit-prev:hover {
    background-color: rgba(187, 169, 53, 0.92) !important;
}

.orbit-container .orbit-next,
.orbit-container .orbit-prev {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.delete-experience{
    float: right;
}

.top-bar.expanded .toggle-topbar a {
    background-color: #b4b4b4;
    border: solid 1px gray;
}

.top-bar-section .dropdown li.title h5 a:hover::before{
    border-color: transparent white transparent transparent !important;
}

.bootstrap-tagsinput{
    width: 100%;
    margin-bottom: 1em;
}

select.multiple{
    height: 100px;
}

.bootstrap-tagsinput input{
    width: 100% !important;
}

.over-member-container{
	overflow-y: auto;
	max-height: 300px;
}

.orbit-container .orbit-slides-container img{
	margin: 0 auto;
}

.filogo{
	position: absolute;
    top: 15%;
    right: 12%;
}

.section-container{
    display: inline-block;
}

.section-container label{
    margin-right: 0.5rem !important;
    vertical-align: top !important;
    max-width: 100px;
    margin-bottom: 0.5em !important;
}

.section-container label span{
    display: block;
    text-align: center;
}

.section-container label.error{
    display: block;
}

.section-container input[type="radio"]:not(:checked),
.section-container input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

.section-container input[type="radio"]:checked + label img {
    box-shadow: 0 0 6px 1px #81720f;
}

.publication-over{
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.publication-over p{
  line-height: 1;
}

.publication-over label{
  display: inline-block;
}

@media(max-width: 768px){
	.filogo img{
		height: 88px;
        width: auto;
	}
}

@media(max-width: 768px){
    .filogo img{
        height: 88px;
        width: auto;
    }
}

@media(max-width: 667px){
    .filogo img{
        height: 72px;
    }
}

@media(max-width: 414px){
    .filogo img{
        height: 45px;
    }
}

@media(max-width: 320px){
    .filogo img{
        height: 35px;
    }
}
