.transparent{
    background: transparent;
}

.custom-side-bar{
    background: #BBA935;
    border-radius: 0px 3px 3px 0px;
    border: none;
}

.main-section{
    padding-top: 1em;
}

figure{
    margin: 0;
}

footer{
    background: #103B1B;
    margin-top: 1em;
}

.footer-nav{
    margin: 0;
    text-align: center;
    padding: 1em;
    font-size: 11px;
    color: white; }	
    .footer-nav li{
        list-style: none;
        margin: 1em; }
        .footer-nav li label{
            font-size: 12px;
            cursor: default;
            list-style: none;
            color: white;
         
            padding-bottom: 0.5em;
            margin-bottom: 1em; }
        .footer-nav li a{
            color: white; }
        .footer-nav li a:hover{
            color: #968411; }
    .footer-nav p{
        font-size: 11px; }
    
.form-content{
    background: #f7f7f4;
    border: 1px solid #eaeaea;
    padding: 1.5em;
    overflow: auto;
}

h4{
    margin-bottom: 1em; 
    padding-left: 1em;
}

.avatar{
    border-radius: 50%;
    height: 10em;
    width: 10em;
    display: block;
    margin: 0 auto;
}

.inline-block{
    display: inline-block;
}

select,
textarea{
    margin-bottom: 1rem;
}

.searching,
.searching:focus{
    background: url(../img/loading.gif) no-repeat !important;
    background-origin: content-box !important;
    background-position: right !important;
}

.calendar{
    font-family: 'linecons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e02b";
}

.radius-right{
    border-radius: 0 3px 3px 0;
}

.radius-left{
    border-radius: 3px 0 0 3px;
}

.remove-field{
    font-size: 22px !important;
    width: 37px;
    height: 36px;
    padding: 7px !important;
}

.experiences-content{
    height: 520px;
    overflow: scroll;
}

.profile-details p{
    margin-bottom: 0;
}

.profile-details label{
    font-weight: bold;
    margin-bottom: -5px;
    cursor: default;
}

.profile-details span{
    font-size: 13px;
    color: #4d4d4d;
}

.more-info{
    font-size: 12px;
    float: right;
}

.members-list{
    padding: 1em; 
    height: 310px;
    overflow: scroll;
}

.member-container *{
    display: inline-block;
    margin: 0.5em;
}

.member-container p{
    font-size: 0.875rem;
    vertical-align: middle;
}