.transparent{
	background: transparent;
}

.custom-side-bar{
	background: #BBA935;
	border-radius: 0px 3px 3px 0px;
	border: none;
}

/*.row{
	max-width: 80rem;
}*/

figure{
	margin: 0;
}

footer{
	background: #103B1B;
}

.footer-nav{
	margin: 0;
	text-align: center;
	padding: 1em;
	font-size: 11px;
	color: white; }	
	.footer-nav li{
		list-style: none;
		margin: 1em; }
		.footer-nav li label{
			font-size: 12px;
			cursor: default;
			list-style: none;
			color: white;
			padding-bottom: 0.5em;
			margin-bottom: 1em; }
		.footer-nav li a{
			color: white; }
			.footer-nav li a:hover{
				color: #968411; }
	.footer-nav p{
		font-size: 11px; }